html{
    background-image:url("social_default.jpg");
    background-size:cover;
    background-position: center;
    height:100%;
    width:100%;
}
body{
    position: absolute;
    padding: 40px 0;
    left:10%;
    right:10%;
    top:15%;
}
.content{
    background-color:transparent;
    border-radius: 50px;
    border: 3px solid rgba( 255, 255, 255, 0.18 );
    padding: 40px;
}
.content .firstLine{
    color:white;
    font-size: 35px;
    font-weight: bolder;
}
.content .secondLine{
    font-size: 20px;
    font-weight: 600;
}
.content form{
    padding-top: 30px;
}